

<h1>VARIAVEL NOVA : {{ teste2 }}</h1>

<br><br><br><br><br>
  <h1 >Valor no vote-edit Component: {{valorInicial }}</h1>


<br><br><br><br><br>
<form (ngSubmit)="sendVote()">
<mat-card>
  <mat-card-content>
    <h1 class="example-h2">{{ title }}</h1>
    <section class="example-section">
      <mat-radio-group [(ngModel)]="valueSelected" name="participant">
        <mat-radio-button class="example-margin" *ngFor="let participant of participants" [value]="participant" (click)="selectCandidate(participant)">
          {{ participant }} <!-- precisa atualizar essa variavel "participant"-->
        </mat-radio-button>
      </mat-radio-group>  
    </section>
    <section>
      <div *ngIf="valueSelected !== ''">
        Você vai votar em : {{ valueSelected }}
      </div>
    </section>

    <button mat-raised-button type="submit" color="primary">Votar</button>
    <div *ngIf="voted" class="voting">Seu voto foi salvo!</div>
  </mat-card-content>
</mat-card>
</form>
<mat-card>
  <h2>Votação</h2>
  <div><h2>informação : </h2>{{ receivedData }}</div>
<!--
  <p>Nome: {{ nome }}</p>
    <p>Idade: {{ idade }}</p> -->

<!--<button (click)="updateTitle()">Atualizar Título</button>-->
<br><br><br><br><br><br>
</mat-card>