<form (ngSubmit)="sendVote()">
<mat-card>
  <mat-card-content>
    <h1 class="example-h2">{{ title }}</h1>
    <section class="example-section">
      <mat-radio-group [(ngModel)]="valueSelected" name="participant">
        <mat-radio-button class="example-margin" *ngFor="let participant of participants" [value]="participant" (click)="selectCandidate(participant)">
          {{ participant }}
        </mat-radio-button>
      </mat-radio-group>  
    </section>
    <section>
      <div *ngIf="valueSelected !== ''">
        Você vai votar em : {{ valueSelected }}
      </div>
    </section>

    <button mat-raised-button type="submit" color="primary">Votar</button>
    <div *ngIf="voted" class="voting">Seu voto foi salvo!</div>
  </mat-card-content>
</mat-card>
</form><br><br><br>
<mat-card-title><h2 class="example-h2">Editar a pesquisar :</h2></mat-card-title>
<mat-card-title><h3 class="example-h2">Deletar opções da pesquisa</h3></mat-card-title>
<mat-card *ngFor="let participant of participants">  
  <mat-card-content>
    <mat-radio-button class="example-margin" [value]="participant" (click)="selectCandidate(participant)">
      {{ participant }}
    </mat-radio-button>
    <button mat-icon-button class="white-icon" (click)="removeParticipant(participant)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h3 class="example-h2">Adicionar novo candidato ou pergunta :</h3>

    <mat-form-field>
      <input matInput placeholder="digite novo participante ou pergunta" [(ngModel)]="newCandidate">
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="addCandidate()">Adicionar Participante</button>
  </mat-card-content><br>
</mat-card>

<mat-card>
  <mat-card-content>
    <h3 class="example-h2">Opções de título da Pesquisa :</h3>

    <mat-form-field>
      <input matInput placeholder="digite novo titulo" [(ngModel)]="newTitle">
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="atualizarTitulo()">Atualizar Título</button>
  </mat-card-content><br><br><br><br>
</mat-card>
