.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  button{
    background-color: var(--primary);
    color: yellow;
    margin-left: 20px;
    margin-top: 20px;
  }

  .voting{
    margin-left: 20px;
    margin-top: 20px;
  }