.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  button{
    background-color: var(--primary);   
    margin-left: 20px;
    margin-top: 20px;
  }

  .voting{
    margin-left: 20px;
    margin-top: 20px;
  }

  mat-form-field{
    width: 100%;
    height: auto;
  }

  .white-icon {
    color: white;
    background-color: rgba(240, 1, 1, 0.847);
}
