
<form name="form-voting" action="register-voting">
  <label *ngFor="let participant of participants">
    <input type="radio" name="id" [value]="participant.id"> {{participant.name}}<br/>
  </label>

  <br/>
  <input type="submit" value="Votar">
</form>






<!--

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <h4>Select your toppings:</h4>
  <p><mat-checkbox name="voting" value="cod1" formControlName="cod1">Participante 1</mat-checkbox></p>
  <p><mat-checkbox name="voting" value="cod2" formControlName="cod2">Participante 2</mat-checkbox></p>
  <p><mat-checkbox name="voting" value="cod3" formControlName="cod3">Participante 3</mat-checkbox></p>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>





<section class="example-section" [formGroup]="toppings">
  <h4>Select your toppings:</h4>
  <p><mat-checkbox formControlName="cod1">Participante 1</mat-checkbox></p>
  <p><mat-checkbox formControlName="cod2">Participante 2</mat-checkbox></p>
  <p><mat-checkbox formControlName="cod3">Participante 3</mat-checkbox></p>
</section>



<section class="example-section" [formGroup]="toppings">
  <h4>You chose:</h4>
  {{toppings.value | json}}
</section>


<div class="example-button-row">
  <button mat-raised-button color="primary">Primary</button>
</div>

-->
