<p>
  <mat-toolbar class="primary-color">
    <span class="title-container">
    <button  mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
   
      <h3>Votação onLine :</h3>
      <h3 class="style">Real Time</h3>
    
    <span class="example-spacer"></span>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</span>
    <span><img id="logo" src="assets/logo.svg" width="200px" height="alt"/></span>
  </mat-toolbar>
</p>
